.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  background-color: #f1f3ff;
}

.txt-header-container {
  width: 568px;
  margin-left: 120px;
  padding-top: 80px;
}

.txt-header-container h1 {
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 10px;
  line-height: 55px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 1px; /* Adjust as needed */
  animation: typing 3s steps(130, end), blink-caret 0.75s step-end;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.txt-header-container p {
  font-size: 14px;
  font-weight: 700;
  width: 500px;
}

.btn-header {
  background-color: #5cb85f;
  color: #fff;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 12px 8px 12px;
  border: none;
}

.img-header {
  width: 704px;
  height: 404px;
}

/* Common Breakpoints :

1. Mobile Devices : 320px - 480px
2. iPads, Tablets : 481px - 768px
3. Small Screens, Laptops : 769px - 1024px
4. Large Screens, Desktops : 1025px - 1200px
5. Extra Large Screens, TV : 1201px and more */

/* Responsive for Small Phone */
@media screen and (min-width: 240px) and (max-width: 359.5px) {
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 100px; */
    background-color: #f1f3ff;
    width: 359px;
  }
  .txt-header-container {
    width: 300px;
    margin-left: 0;
    padding-top: 0;
  }

  .txt-header-container h1 {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 10px;
    line-height: 45px;
    text-align: center;
  }

  .txt-header-container p {
    font-size: 14px;
    font-weight: 700;
    width: 300px;
    text-align: center;
    padding-bottom: 15px;
  }

  .btn-header {
    background-color: #5cb85f;
    color: #fff;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 12px 8px 12px;
    border: none;
    position: relative;
    left: 70px;
  }

  .img-header {
    display: flex;
    width: 100%;
    height: fit-content;
    padding-top: 35px;
    margin-left: auto;
  }
}

/* Responsive for Medium Phone */
@media screen and (max-width: 480px) {
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 100px; */
    background-color: #f1f3ff;
  }
  .txt-header-container {
    width: 300px;
    margin-left: 0;
    padding-top: 0;
  }

  .txt-header-container h1 {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 10px;
    line-height: 45px;
    text-align: center;
    white-space: pre-line;
  }

  .txt-header-container p {
    font-size: 14px;
    font-weight: 700;
    width: 300px;
    text-align: center;
    padding-bottom: 15px;
  }

  .btn-header {
    background-color: #5cb85f;
    color: #fff;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 12px 8px 12px;
    border: none;
    position: relative;
    left: 70px;
  }

  .img-header {
    display: flex;
    width: 100%;
    height: fit-content;
    padding-top: 35px;
    margin-left: auto;
  }
}

/* Responsive for Large Phone */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f3ff;
    width: 768px;
  }
  .txt-header-container {
    width: 500px;
    margin-left: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .txt-header-container h1 {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
    line-height: 50px;
    text-align: center;
    width: 350px;
    /* border: 1px solid; */
  }

  .txt-header-container p {
    font-size: 20px;
    font-weight: 700;
    width: 475px;
    text-align: center;
    padding-bottom: 15px;
  }

  .btn-header {
    background-color: #5cb85f;
    color: #fff;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 700;
    padding: 14px 18px 14px 18px;
    border: none;
    position: relative;
    left: 0;
  }

  .img-header {
    display: flex;
    width: 100%;
    height: fit-content;
    padding-top: 35px;
    margin-left: auto;
  }
}

/* Responsive for Tablet */
@media screen and (min-width: 769px) and (max-width: 991.5px) {
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f3ff;
    width: 991px;
  }
  .txt-header-container {
    width: 500px;
    margin-left: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .txt-header-container h1 {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
    line-height: 50px;
    text-align: center;
    width: 350px;
    /* border: 1px solid; */
  }

  .txt-header-container p {
    font-size: 20px;
    font-weight: 700;
    width: 475px;
    text-align: center;
    padding-bottom: 15px;
  }

  .btn-header {
    background-color: #5cb85f;
    color: #fff;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 700;
    padding: 14px 18px 14px 18px;
    border: none;
    position: relative;
    left: 0;
  }

  .img-header {
    display: flex;
    width: 100%;
    height: fit-content;
    padding-top: 35px;
    margin-left: auto;
  }
}

/* Responsive for Laptop and Desktop */
@media screen and (min-width: 992px) and (max-width: 1320px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    background-color: #f1f3ff;
    width: 1320px;
  }

  .txt-header-container {
    width: 568px;
    margin-left: 120px;
    padding-top: 80px;
  }

  .txt-header-container h1 {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 10px;
    line-height: 55px;
  }

  .txt-header-container p {
    font-size: 14px;
    font-weight: 700;
    width: 500px;
  }

  .btn-header {
    background-color: #5cb85f;
    color: #fff;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 12px 8px 12px;
    border: none;
  }

  .img-header {
    width: 704px;
    height: 404px;
  }
}

/* Responsive for Laptop and Desktop  */
@media screen and (min-width: 992px) and (max-width: 1321px) {
}
